---
layout: base
---
#terminal.wide
  #title
    .left
      = title(page)
    .share
      %a.delicious(href="http://del.icio.us/post?partner=addthis&url=#{DOMAIN_URL}#{page.url}&title=#{page.title}&notes=#{page.desc}&tags=#{tags(page)}" title="compartir en delicious" target="_blank")
      %a.facebook(href="http://www.facebook.com/share.php?u=#{DOMAIN_URL}#{page.url}&t=#{page.title}" title="compartir en facebook" target="_blank")
      %a.twitter(href="http://twitter.com/home?status=#{page.title} #{DOMAIN_URL}#{page.url}" title="compartir en twitter" target="_blank")
    .clear
    
  #content.post
    = content
    
  #disqus_thread
  :javascript
    (function() {
     var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
     dsq.src = 'http://llopez-blog.disqus.com/embed.js';
     (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();